name: Deploy the app with docker Compose

on:
  push:
    branches: ["main"]
  
jobs:
  deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Checkout codigo
        uses: actions/checkout@v4

      - name: Crear archivo .env
        run: |
          echo "POSTGRES_DB=${{ secrets.POSTGRES_DB }}" > .env
          echo "POSTGRES_USER=${{ secrets.POSTGRES_USER }}" >> .env
          echo "POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}" >> .env
          echo "POSTGRES_HOST=${{ secrets.POSTGRES_HOST }}" >> .env
          echo "REDIS_HOST=${{ secrets.REDIS_HOST }}" >> .env
          echo "REDIS_PORT=${{ secrets.REDIS_PORT }}" >> .env

      - name: Parar los contendores anteriores
        run: docker compose down -v || true

      - name: Constuir los servicios
        run: docker compose -f docker-compose.yml build

      - name: Levantar los servicios
        run: docker compose -f docker-compose.yml up -d

      - name: Esperar a que la app levante
        run: sleep 10 

      - name: Verificar app
        run: curl -f http://localhost:8080